#define WIFI_SSID "YOUR_SSID"
#define WIFI_PASSWORD "YOUR_PASSWORD"

#define HOSTNAME "pianotuner"
#define OTA_PORT 3232

#define MOTOR_MIN 1000
#define MOTOR_MAX 2000
#define MOTOR_PIN 14
#define REVERSE_MOTOR

#define BRAKE1_MIN 500
#define BRAKE1_MAX 2400

#define BRAKE2_MIN 500
#define BRAKE2_MAX 2400

#define BRAKE1_PIN 12
#define BRAKE2_PIN 13
#define LOOP_PERIOD 10
